@page "/"
@inject YahyaFarms.Web.Data.YahyaFarmsWebDbContext DB
<PageTitle>مزرعة يحيى</PageTitle>

<h1>أهلا بكم في موقع مزرعة يحيى</h1>
<p>
    مرزعة يحيى ...أطعم لحمة ممكن تدوقها في مصر
</p>
<div class="row" style="position:relative">
    @if (lstFirstItemsImages != null && lstFirstItemsImages.Count > 0)
    {
        @* <marquee behavior='alternate' hspace="20px"> *@
        @foreach (string strImage in lstFirstItemsImages)
        {
            <div class="col-md-2 mt-3" style="position:relative">
                <a href="@strImage" target="_blank">
                    <img class="item-image" src="@strImage" />
                </a>
            </div>
        }
        @* </marquee> *@
    }
</div>
<br />
@* <div width="100%">
    @if (lstSecondItemsImages != null && lstSecondItemsImages.Count > 0)
    {
        <marquee direction="right" behavior='alternate' hspace="20px"> 
        @foreach (string strImage in lstSecondItemsImages)
        {
            <a href="@strImage" target="_blank">
                <img class="item-image" src="@strImage" />
            </a>
        }
        </marquee> 
    }
</div> *@
@code {
    List<string> lstFirstItemsImages = new List<string>();
    //List<string> lstSecondItemsImages = new List<string>();
    protected override void OnInitialized()
    {
        lstFirstItemsImages = DB.ItemsImages.Skip(0).Take(24).OrderByDescending(x => x.ImageID).Select(x => x.ImageURL).ToList();
        //lstSecondItemsImages = DB.ItemsImages.Skip(20).Take(20).OrderBy(x => x.ImageID).Select(x => x.ImageURL).ToList();
    }
}